@charset "UTF-8";

.imgcontainer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
  max-height:100px;
}

img.avatar {
  width: 50%;
  border-radius: 25%;
}


.Form_Layout {
  text-align: center;
  margin: 24px 0 12px 0;
  padding-top:10px;
}


form {
	border: 3px solid #f1f1f2;
	}
	
	
.submitButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:8px;
  font-size: 16px;
}